/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    withLabel: '!no_publish' {
       publishDir = [
           path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
       ]
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}


// BAM_TO_SAM options -
process {
    withName: 'BAM_TO_SAM_SPECIES_ID' {
        ext.args   = [
                "-q ${params.min_species_id_mapq}"
            ].join(' ').trim()
    }
}


process {
  withLabel: "no_publish_output" {
    publishDir = []
  }
}


process {
  withName: 'PROCESS_FASTQ_COUNTS' {
    publishDir = [
        path: { "${params.outdir}" } ,
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
}

/*
process {
  withName: 'FILTER_UNMAPPED_READS' {
    ext.prefix = { "${meta.id}.filt_unmapped" }
    ext.args   = [
                  "--exclude-flags 0x4"
                 ].join(' ').trim()
    publishDir = [
        path: { "${params.outdir}" } ,
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
  withName: 'FILTER_EMPTY_BAM' {
    ext.prefix = { "${meta.id}.filt" }
  }
}
*/

/*
process {
  withName: 'PROCESS_ALFA_OUTPUT' {
    publishDir = [
        path: { "${params.outdir}" } ,
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
  }
}
*/


